.Rproj.user
.Rhistory
.RData
**/JudysCourse/April14GuestLecture_cache/**
**/JudysCourse/April14GuestLecture_files/**
.DS_Store
**/DrexelSeminar/example.pdf
**/DrexelSeminar/example.tex
**/cu_climate_2018/data/*